{{!< default}} {{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
    {{!-- The big featured header --}} {{!-- Everything inside the #author tags pulls data from the author --}} {{#author}} <header
    class="main-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
<div class="main-header-background-square"></div>
<nav class="main-nav overlay clearfix">
    {{#if @blog.logo}}
    <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}} {{#if @blog.navigation}}
    <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> {{/if}}
</nav>
</header>

<section class="author-profile inner">
    {{#if image}}
    <figure class="author-image">
        <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
</figure>
{{/if}}
<h1 class="author-title">{{name}}</h1>
{{#if bio}}
<h2 class="author-bio">{{bio}}</h2>
{{/if}}
<div class="author-meta">
    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}} </br>
    <span><i class="fa fa-envelope fa-1"></i> <a href="mailto:tcheng@link.cuhk.edu.hk?Subject=Blog%20message"> tcheng@link.cuhk.edu.hk</a></span>
    <!--{{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}-->
    <!--<span class="author-stats"><i class="icon-stats"></i>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>-->
</div>
</section>
{{/author}} {{!-- The main content area on the homepage --}}
<main class="content" role="main">
    <div class="post">
        <h3>def self:</h3>
        <p> I am Cheng Ti-Chung, currently a fourth year student at The Chinese University of Hong Kong, under <a href="http://www.cse.cuhk.edu.hk/~jcheng/">Prof. James Cheng's</a> supervision working on <a href="http://www.husky-project.com/">The Husky Project</a> pursing a B.Sc Computer Science Degree. My current research project focus on distributed nearest neighbor search. I also work on full-stack web applications and promote open-community in my leisure time. </br>
        Please visit my <a href="">major-related projects</a> and <a href="">non-major related projects</a> here. </br>

            <h3>def Education:</h3>
            <ul>
                <li><b>The Chinese University of Hong Kong</b> (2013-Present)
                    <ul>
                        <li>B.Sc., Computer Science</li>
                        <li>Minor in Business Economics
                    </ul>
                    </li>
                    <li><b>University of Illinois at Urbana-Champaign</b> (2015)
                        <ul>
                            <li>Exchange Student, Computer Science</li>
                        </ul>
                    </li>
            </ul>
            </br>

            <h3>def Experience:</h3>
            <ul>
                <li>Husky Lab: Summer Research Intern (May 2016 - Sep 2016)
                    <ul>
                        <li> Supervisor: Prof. James Cheng | Stack: C/C++ </li>
                        <li>Research Intern, Machine Learning Group</li>
                        <li>Focus on Locality-Sensitive Hashing Algorithms</li>
                        <li>Implement= C2LSH algorithms onto the new Husky platform for distributed computing</li>
                    </ul>
                </li>
                <li>Taiwanese Student Association: IT Officer (Oct 2015 - Oct 2016)
                    <ul>
                        <li>Stack: MongoDB, Express.js, Node.js</li>
                        <li>Lead a web development group building the offcial website for the association</li>
                        <li>Started a weekly based workshop (Circle) to teach web-development to CS and non-CS students within the association, over 50 stduents attened the workshop.</li>
                    </ul>
                </li>
                <li>National Center for High-Performance Computing: Summer Research Intern (Jul 2015 - Aug 2015)
                    <ul>
                        <li> Supervisor: Prof. Ann, Hsing-Yen | Stack: MySQL, Python, Gephi <li>
                        <li>Research Intern, Web Security Team</li>
                        <li>Build automated web-scraper to identify info of fast-flux domains</li>
                        <li>Visualize and presented results</li>
                    </ul>
                </li>
            </ul>

            </br>

            <p> To know more about me, free ree to send me an e-mail or visit my LinkedIn.


    </div>
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    <!--{{> "loop"}}-->

</main>